.SliderRoot {
  width: 100% !important;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;

  .SliderTrack {
    background-color: white;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 1px;

    .SliderRange {
      position: absolute;
      background-color: white;
      border-radius: 9999px;
      height: 100%;
    }
  }

  .SliderThumb {
    display: block;
    width: 26px;
    height: 26px;
    background-color: white;
    box-shadow: 0 2px 10px black;
    border-radius: 9999px;

    &:hover {
      background-color: #e1d2e9;
    }

    &:focus {
      outline: none;
    }
  }
}
