.Button {
  all: unset;
  display: block;
  text-align: center;
  width: 100% !important;
  cursor: pointer;
  border-radius: 5px;

  &.main {
    background: linear-gradient(45deg, #ba92ef, #7562d8, #67d1fc);
    height: 63px;
    margin-top: -3px;
  }

  &.add {
    height: 51px !important;
    resize: unset;
    font-family: var(--font-poppins);
    background-color: #2d2b35;
    color: white;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    text-align: left;
    font-size: 15px;
    margin-top: 8px;
  }

  &.remove {
    background: #483636;
    margin: 8px 0 20px 0;
    height: 40px;
  }

  &.loading {
    cursor: progress;
    background: linear-gradient(
      45deg,
      var(--color1),
      var(--color2),
      var(--color3)
    );
    background-size: 200% 200%;
    animation: mainButtonLoading 700ms alternate infinite;
    @keyframes mainButtonLoading {
      0% {
        --color1: #ba92ef;
        --color2: #7562d8;
        --color3: #67d1fc;
        background-position: 0% 50%;
      }
      50% {
        --color1: #09ff00;
        --color2: #7562d8;
        --color3: #67d1fc;
        background-position: 100% 50%;
      }
      100% {
        --color1: #ba92ef;
        --color2: #7562d8;
        --color3: #67d1fc;
        background-position: 0% 50%;
      }
    }
  }
}
