.Button {
  all: unset;
  display: block;
  text-align: center;
  width: 100% !important;
  cursor: pointer;
  border-radius: 5px;

  &.main {
    background: linear-gradient(45deg, #ba92ef, #7562d8, #67d1fc);
    height: 63px;
    margin-top: -3px;
  }

  &.add {
    height: 51px !important;
    resize: unset;
    font-family: var(--font-poppins);
    background-color: #2d2b35;
    color: white;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0;
    text-align: left;
    font-size: 15px;
    margin-top: 8px;
  }

  &.remove {
    background: #483636;
    margin: 8px 0 20px 0;
    height: 40px;
  }
}
