.Textarea {
  width: 100% !important;
  height: 118px !important;
  resize: unset;
  font-family: var(--font-poppins);
  font-size: 15px;
  text-align: left;
  background-color: #2d2b35;
  color: white;
  border-radius: 5px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0;
}